<h1> Generar Nuevo Correo de Restablecimiento </h1>

<form action="/requestPasswordReset" method="POST">
    <label for="email"> Email: </label>
    <input type="email" name="email" required>
    <br><br>

    <button type="submit"> Enviar Correo </button>
</form>